* {
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  /* To prevent pull-down refresh on mobile */
  touch-action: none;
  -ms-touch-action: none;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  /* To prevent pull-down refresh on mobile */
  touch-action: none;
  -ms-touch-action: none;
  background-color: grey;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
}

.mask.inner {
  background-color: #0a8578;
}

.mask.outter {
  background-color: #0ca091;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transform-origin: 0 0;
}

.mask.animate,
#canvas.animate {
  transform: translateX(0);
  /* transition: cubic-bezier(0.38, 1, 0.65, 1) 1s; */
}

#guide-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: 0 0;
  top: 0;
  left: 0;
  z-index: 100;
}

.a {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fab93f;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.3, 2, 0.65, 1);
}

.a.active {
  width: 100px;
  height: 100px;
}

.navigation-wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform-origin: 0 0;
  z-index: 10000;
}

.logo,
.about {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  display: none;
  opacity: 0;
  z-index: 10000;
  color: white;
  animation: 0.8s fadeIn cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.logo > .logo-serif {
  line-height: 3rem;
  font-size: 3rem;
  font-family: Norican;
}

.logo > .logo-sans {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.about {
  display: none;
  text-align: center;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 500;
  z-index: 10000;
  color: white;
  cursor: pointer;
  animation: 0.8s fadeIn cubic-bezier(0.23, 1, 0.32, 1) forwards;
  transition: 0.2s ease;
}

.about:hover {
  color: rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes darker {
  0% {
    background-color: grey;
  }

  60% {
    background-color: black;
  }

  100% {
    background-color: black;
  }
}
